<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<style>

#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 380px;
  height: 380px;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}
.avatar {
  background: #222;
  width: 340px;
  height: 340px;
  display: block;
  background-size: 100% auto !important;
  background-position: center;
 background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
</style>


{{#each map}}
	<a href="#" data-id="{{this.uuid}}" class="map_link"><img src="https://maps.googleapis.com/maps/api/staticmap?center={{this.centroid.coordinates.[1]}},{{this.centroid.coordinates.[0]}}&zoom=12&size=300x300&key=AIzaSyAdaFzQqYK2DwqEtxHdcUGU_raymUebynA"></a>
{{/each}}  


You have X fields selected to trade
<hr/>
Here are all of your fields
<hr/>
 <div id="container">
 <div class="buddy" style="display: block;"><div class="avatar" style="display: block; background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={{firstmap.centroid.coordinates.[1]}},{{firstmap.centroid.coordinates.[0]}}&zoom=12&size=340x340&key=AIzaSyAdaFzQqYK2DwqEtxHdcUGU_raymUebynA)"></div></div>
 	{{#each map}}
 	<div class="buddy"><div class="avatar" style="display: block; background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={{this.centroid.coordinates.[1]}},{{this.centroid.coordinates.[0]}}&zoom=12&size=340x340&key=AIzaSyAdaFzQqYK2DwqEtxHdcUGU_raymUebynA)"></div></div>  
 	{{/each}}
  </div>
<script>
$(document).ready(function(){

    $(".buddy").on("swiperight",function(){
      $(this).addClass('rotate-left').delay(700).fadeOut(1);
      $('.buddy').find('.status').remove();

      $(this).append('<div class="status like">Like!</div>');      
      if ( $(this).is(':last-child') ) {
        $('.buddy:nth-child(1)').removeClass ('rotate-left rotate-right').fadeIn(300);
        alert("last!");
       } else {
          $(this).next().removeClass('rotate-left rotate-right').fadeIn(400);
       }
    });  

   $(".buddy").on("swipeleft",function(){
    $(this).addClass('rotate-right').delay(700).fadeOut(1);
    $('.buddy').find('.status').remove();
    $(this).append('<div class="status dislike">Dislike!</div>');

    if ( $(this).is(':last-child') ) {
     $('.buddy:nth-child(1)').removeClass ('rotate-left rotate-right').fadeIn(300);
      alert('Na-na!');
     } else {
        $(this).next().removeClass('rotate-left rotate-right').fadeIn(400);
    } 
  });

 }); 
$('img').on('dragstart', function(event) { event.preventDefault(); });
	$(".map_link").click(function() {
		var id = $(this).data("id");
		$.get("http://localhost:3000/add/" + id, function( data ) {
			console.log("ok!");
		});
	});
</script>